<div class="container" onload="permission_and_start()">
    <button name="" id="" class="btn btn-primary" onclick="permission_and_start()" role="button">Button</button>
    <video autoplay></video>
</div>

{% assets "js_all" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}